<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form #formRegistro="ngForm" (ngSubmit)="onSubmit(formRegistro)" class="login100-form validate-form flex-sb flex-w">

                <span class="login100-form-title p-b-51">
                        Crear nueva cuenta
                    </span>

                <span class="text-danger" *ngIf="formRegistro.submitted && formRegistro.controls['Nombre'].errors">El Nombre es obligatorio</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="text" name="Nombre" required [(ngModel)]="usuario.Nombre" placeholder="Nombres">
                    <span class="focus-input100"></span>
                </div>

                <span class="text-danger" *ngIf="formRegistro.submitted && formRegistro.controls['Apellido'].errors">El Apellido es obligatorio</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="text" name="Apellido" required [(ngModel)]="usuario.Apellido" placeholder="Apellidos">

                    <span class="focus-input100"></span>
                </div>

                <span class="text-danger" *ngIf="formRegistro.submitted && formRegistro.controls['User'].errors">El Usuario es obligatorio</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="text" name="User" required [(ngModel)]="usuario.Usuario" placeholder="Usuario">

                    <span class="focus-input100"></span>
                </div>

                <span class="text-danger" *ngIf="formRegistro.submitted && formRegistro.controls['Clave'].errors">La contraseña es obligatoria</span>
                <div class="wrap-input100 m-b-16" data-validate="Password is required">
                    <input class="input100" [(ngModel)]="usuario.Clave" required type="password" name="Clave" placeholder="Contraseña">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 m-b-16" >
                    <select class="input100" name="Rol"  [(ngModel)]="usuario.Rol"  aria-label=".form-select-lg example">
                        <option [ngValue]="1" >Administrador</option>
                        <option [ngValue]="2" >Usuario</option>
                      </select>
                </div>

                <div class="flex-sb-m w-full p-t-3 p-b-24">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                                Recordar mi usuario
                            </label>
                    </div>

                    <div>
                        <a routerLink="/login" class="txt1">
                                ¿Ya tienes cuenta? / Ingresar
                            </a>
                    </div>
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn" type="submit">
                            Crear cuenta
                        </button>
                </div>

            </form>
        </div>
    </div>
</div>