<app-navbar></app-navbar>
<table class="table caption-top">
    <caption>List of users</caption>
    <thead>
      <tr>
        <th scope="col">Usuario</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let usuario of usuario"> 
        <td>{{usuario.usuario}}</td>
        <td>{{usuario.nombre}}</td>
        <td>{{usuario.apellido}}</td>
        <td><button [hidden]="usuario.rol != 1" (click)="eliminar(usuario.id)"><i class="far fa-trash-alt"></i></button></td>
        <td><button [hidden]="usuario.rol != 1" ><i class="far fa-edit"></i></button></td>
      </tr> 
    </tbody>
  </table>

